*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #52307c;
    overflow: hidden;
}

body::before{
    content: '';
    position:absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background: linear-gradient(rgb(106,13,173), #c29200);
    transform: translate(-90%, -40%);
}

body::after{
    content: '';
    position:absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: linear-gradient(#c29200, rgb(106,13,173));
    transform: translate(100%, 40%);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    backdrop-filter: blur(10px);
}

.container .card img{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    }

.container .card .content{
    padding: 10px;
    text-align: center;
    transform: translateY(20px);
    opacity: .7;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0);
    opacity: 1;
}

.container .card .content h3{
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.container .card .content p{
    font-size: 17px;
    color: #fff;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    


}